includeConfig 'conf/base.config'
params.validationSkipDuplicateCheck = true
params.validationS3PathCheck = false

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'


params {

  input = 'index.csv'
  analyst_name = null
  facility = null
  outdir = 'results'
  help = false
  tool_versions = "${projectDir}/versions.yml"
  default_params = "${projectDir}/params/default_params.yml"
//  contaminants = "/work/daff_viral_rnaseq/sortmerna/rrna_dbs/smr_v4.3_sensitive_db_DNA.fasta"
//  sortmerna_idx = "/work/daff_viral_rnaseq/sortmerna/rrna_dbs/idx"
  rrna_ref = null
  filter_terms = "${projectDir}/bin/filterKeyWords.txt"
  phix = "${projectDir}/db/phiX174.fasta"
  kraken2_db = "/work/eresearch/databases/kraken_databases/core_nt"
  kaiju_dbname = "/work/eresearch/databases/kaiju_databases/kaiju_db_nr_euk.fmi"
  kaiju_names = "/work/eresearch/databases/kaiju_databases/names.dmp"
  kaiju_nodes = "/work/eresearch/databases/kaiju_databases/nodes.dmp"
//  diamond_db = "/work/eresearch/databases/blast_dbs/ncbi/20250710/nr0.dmnd"
  genomad_db = "/work/daff_viral_rnaseq/genomad/genomad_db"
  hmmer_db = "/work/daff_viral_rnaseq/daff-viral-assembly/hmms/Pfam-A.hmm"
  save_trimmed_fail = false
  save_merged = false
  publish_dir_mode = 'copy'

  blast_threads = 2
  blastn_db = null
//  blast_vs_ref = false
  taxdump = null
  kraken2_save_classified_reads = false
  kraken2_save_unclassified_reads = true
  kraken2_save_readclassifications = true
//  mapping_back_to_ref = true
//  subsample = false
//  reads_downsampling_size = 10000
}

process {
  withName: BLASTN { container = "quay.io/biocontainers/blast:2.16.0--h66d330f_4" }
  withName: MAPPING_BACK_TO_REF  { container = "quay.io/biocontainers/bowtie2:2.5.4--he96a11b_6" }
  withName: COVSTATS { container = "docker.io/gauthiem/daff-viral-assembly:1.00" }
  withName: FASTP { container = "quay.io/biocontainers/fastp:1.0.1--heae3180_0" }
  withName: FASTA2TABLE { container = "docker.io/gauthiem/daff-viral-assembly:1.00" }
  withName: FASTA2TABLE2 { container = "docker.io/gauthiem/daff-viral-assembly:1.00" }
  withName: EXTRACT_BLAST_HITS { container = "docker.io/gauthiem/daff-viral-assembly:1.00" }
  withName: EXTRACT_VIRAL_BLAST_HITS { container = "docker.io/gauthiem/daff-viral-assembly:1.00" }
  withName: EXTRACT_REF_FASTA { container = "quay.io/biocontainers/entrez-direct:22.4--he881be0_0" }
  withName: FASTQC_RAW { container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0" }
  withName: HTML_REPORT { container = "docker://neoformit/daff-ont-assembly" }
  withName: MOSDEPTH { container = "quay.io/biocontainers/mosdepth:0.3.3--h37c5b7d_2" }
  withName: PYFAIDX { container = "quay.io/biocontainers/pyfaidx:0.8.1.3--pyhdfd78af_0" } 
  withName: QCREPORT { container = "docker.io/gauthiem/daff-viral-assembly:1.00" }
  withName: SAMTOOLS2 { container = "quay.io/biocontainers/samtools:1.22.1--h96c455f_0" }
  withName: BCFTOOLS { container = "quay.io/biocontainers/bcftools:1.19--h8b25389_0" }
  withName: BEDTOOLS { container = "quay.io/biocontainers/bedtools:2.27.1--h077b44d_9" } 
  withName: SEQTK { container = "quay.io/biocontainers/seqtk:1.3--h7132678_4" }
  withName: SPADES { container = "quay.io/biocontainers/spades:4.2.0--h8d6e82b_1" }
  withName: RETRIEVE_VIRAL_READS_KRAKEN2 { container =  "quay.io/biocontainers/krakentools:1.2.1--pyh7e72e81_0" }
  withName: KAIJU { container = "quay.io/biocontainers/kaiju:1.8.2--h5b5514e_1" }
  withName: BRACKEN { container = "docker.io/gauthiem/daff-viral-assembly:1.00" }
  withName: GENOMAD { container = "quay.io/biocontainers/genomad:1.11.2--pyhdfd78af_0" }
  withName: CLUSTER { container = "quay.io/biocontainers/cd-hit:4.8.1--h5ca1c30_13" }
  withName: SUMMARISE_READ_CLASSIFICATION { container = "docker.io/gauthiem/daff-viral-assembly:1.00" }
  withName: ORFIPY { container = "quay.io/biocontainers/orfipy:0.0.4--py311he264feb_4" }
  withName: HMMSCAN { container = "quay.io/biocontainers/hmmer:3.4--hb6cb901_4" }
  withName: SUMMARISE_RESULTS { container = "docker.io/gauthiem/daff-viral-assembly:1.00" }
  withName: EXTRACT_CONTIGS { container = "quay.io/biocontainers/seqtk:1.3--h7132678_4" }
  withName: MAPPING_BACK_TO_CONTIGS  { container = "quay.io/biocontainers/bowtie2:2.5.4--he96a11b_6" }
  withName: SAMTOOLS_CONTIGS { container = "quay.io/biocontainers/samtools:1.22.1--h96c455f_0" }
  withName: MOSDEPTH_CONTIGS { container = "quay.io/biocontainers/mosdepth:0.3.3--h37c5b7d_2" }
  withName: PYFAIDX_CONTIGS { container = "quay.io/biocontainers/pyfaidx:0.8.1.3--pyhdfd78af_0" }
  withName: CONTIG_COVSTATS  { container = "docker.io/gauthiem/daff-viral-assembly:1.00" }
  withName: KRONA { container = "quay.io/biocontainers/krona:2.8.1--pl5321hdfd78af_1" }
  withName: KRAKEN2_TO_KRONA { container = "quay.io/biocontainers/krona:2.8.1--pl5321hdfd78af_1" }
  withName: NOVELS { container = "docker.io/gauthiem/daff-viral-assembly:1.00" }
}
//withName: FASTQC_TRIMMED { container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0" }
//withName: BCFTOOLS2 { container = "quay.io/biocontainers/bcftools:1.19--h8b25389_0" }
//withName: BBDUK { container = "quay.io/biocontainers/bbmap:39.37--he5f24ec_0" }
//withName: FILTER_CONTROL { container = "quay.io/biocontainers/bbmap:39.37--he5f24ec_0" }
//withName: KRAKEN2 { container = "quay.io/biocontainers/kraken2:2.1.3--pl5321hdcf5f25_0" }
//withName: SORTMERNA { container = "quay.io/biocontainers/sortmerna:4.3.7--hdbdd923_1" }
//withName: DIAMOND { container = "quay.io/biocontainers/diamond:2.1.15--h13889ed_0" }

// Nextflow plugins
plugins {
    id 'nf-validation@1.1.3' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

profiles {
  docker {
    docker.enabled = true
    singularity.enabled = false
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    docker.enabled = false
    runOptions = "--bind ${projectDir}:${projectDir}"
  }
  mtdt_test { 
    includeConfig "conf/mtdt_test.config"
  }
  peq_test { 
    includeConfig "conf/peq_test.config"
  }
  internal_test { 
    includeConfig "conf/internal_test.config"
  }
}

singularity.registry = 'quay.io'


def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/01_pipeline_logs/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/01_pipeline_logs/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/01_pipeline_logs/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/01_pipeline_logs/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'ont_amplicon'
    author          = 'collaboration between QUT eResearch and QCIF'
    homePage        = 'https://github.com/maelyg/ont_amplicon'
    description     = 'ont_amplicon'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.05.0'
    defaultBranch   = 'main'
}
