process {

  cpus = 1
  memory = 1.GB
  time =  1.h 
  
  withLabel: setting_1 {
    cpus = 1
    memory = 8.GB
    time = { 1.h }
  }
  withLabel: setting_2 {
    cpus = 1
    memory = 12.GB
  }
  withLabel: setting_3 {
    cpus = 1
    memory = 16.GB
    time = { 5.h }
  }
  withLabel: setting_4 {
    cpus = 1
    memory = { 48.GB }
    time = { 1.h }
  }
  withLabel: setting_5 {
    cpus = 1
    memory = 48.GB
    time = { 5.h }
  }
  withLabel: setting_6 {
    cpus = 2
    memory = 8.GB
  }
  withLabel: setting_7 {
    cpus = 2
    memory = 12.GB
  }
  withLabel: setting_8 {
    cpus = 2
    memory = { 48.GB }
    time = { 8.h }
  }
  withLabel: setting_9 {
    cpus = 2
    memory = 300.GB
    time = { 8.h }
  }
  withLabel: setting_10 {
    cpus = 4
    memory = { 24.GB }
    time = { 8.h }
  }
  withLabel: setting_11 {
    cpus = 4
    memory = 36.GB
  }
  withLabel: setting_12 {
    cpus = 6
    memory = { 60.GB }
    time = { 3.h }
  }
  withLabel: setting_13 {
    cpus = 8
    memory = 300.GB
    time = { 8.h }
  }
  withLabel: setting_14 {
    cpus = 12
    memory = 72.GB
    time = { 8.h }
  }
  withLabel: setting_15 {
    cpus = 8
    memory = 48.GB
    time = { 4.h }
  }

  withLabel: setting_16 {
    cpus = 16
    memory = { 72.GB }
    time = { 5.h }
  }
  //errorStrategy = 'retry'
  //  maxRetries = 2
  //  maxErrors = 2
}