/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
/*
process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
}
*/

process {
    withName: 'FASTQC_RAW' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/01_fastqc_raw" },   // closure returning a string
            mode: params.publish_dir_mode,
            pattern: '*merged_*_fastqc.{zip,html}'
        ]

    }


    withName: 'FASTQC_TRIM' {
        publishDir = [
            path: { "${params.outdir}/$meta.id/03_fastqc_trimmed" },
            mode: params.publish_dir_mode,
            pattern: '*fastp_*_fastqc.{zip,html}'
        ]
    }

    withName: 'KAIJU_KAIJU' {
        publishDir = [
            path: { "${params.outdir}/$meta.id/05_read_classification" },
            mode: params.publish_dir_mode,
            pattern: '{*summary*.tsv,*_kaiju.krona}'
        ]
    }
}
