/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run main.nf  -resume -profile singularity,test -params-file params/user_params.yml
--------------------------------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function on a single quality-filtered fastq file'

    // Input data
    samplesheet = "$baseDir/tests/index_peq.csv"
}
process {
  withName: /CAT_FASTQ|SEQTK_SAMPLE|SEQTK_SAMPLE|KRAKEN2_TO_KRONA|RETRIEVE_VIRAL_READS_KRAKEN2|KRONA|SEQTK_SEQ|QCREPORT/ {
    cpus = 1
    memory = '2 GB'
    time = '1h'
  }
  withName: FASTP {
    cpus = 2
    memory = '4 GB'
    time = '1h'
  }
  withName: /FASTQC_RAW|FASTQC_TRIM|BBMAP_BBDUK|BBMAP_BBSPLIT|BRACKEN|EXTRACT_CONTIGS|MAP_TO_CONTIGS|PILEUP|IDENTIFY_ERRORS|TRIM_ENDS|REALIGN|SAMTOOLS_CONTIGS|PYFAIDX_CONTIGS|PYFAIDX_REF|MOSDEPTH_CONTIGS|FASTA2TABLE|ORFIPY|CONTIG_COVSTATS|SUMMARISE_READ_CLASSIFICATION|EXTRACT_REF_FASTA|CLUSTER|MAPPING_BACK_TO_REF|SAMTOOLS2|BCFTOOLS|BEDTOOLS|MOSDEPTH_REF|REF_COVSTATS|FASTA2TABLE2|SUMMARISE_RESULTS|EXTRACT_VIRAL_BLAST_HITS|EXTRACT_VIRAL_BLAST_HITS_ROUND2/ {
    cpus = 1
    memory = '8 GB'
    time = '1h'
  }
  withName: /SPADES|MEGABLAST|MEGABLAST_ROUND2|HMMSCAN|GENOMAD_ENDTOEND|DIAMOND_BLASTX|BLAST_CONTIGS_TO_REF/ {
    cpus = 2
    memory = '24 GB'
    time = '1h'
  }
  withName: KAIJU_KAIJU {
    cpus = 4
    memory = '300 GB'
    time = '1h'
  }
}