/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run main.nf  -resume -profile singularity,test -params-file params/user_params.yml

    This current test case takes ~ 1h to run. Try to further shorten the run time.
    It still requires a large amount of memory for the Kaiju and Kraken step.
--------------------------------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function on a single quality-filtered fastq file'

    // Input data
    input = "$baseDir/tests/index_test.csv"
    kraken2_db = "$baseDir/tests/kraken_test_db/"
    kaiju_db_path = "$baseDir/tests/kaiju_test_db/"
    kaiju_dbname = "$baseDir/tests/kaiju_test_db/kaiju_test_db.fmi"
    taxdump = "/home/gauthiem/.taxonkit"
    qfiltered_reads_threshold = 8000000
    clean_reads_threshold = 2500000
    blastn_db = "$baseDir/tests/blast_test_db/Wsmv.fa"
    prot_db = "$baseDir/tests/diamond_test_db/prot_test.dmnd"
}
process {
  withName: /CAT_FASTQ|SEQTK_SAMPLE|SEQTK_SEQ|KRAKEN2_TO_KRONA|KRONA_KTIMPORTTEXT|QC_REPORT|RETRIEVE_VIRAL_READS_KRAKEN2|SEQTK_SEQ/ {
    cpus = 1
    memory = '2 GB'
    time = '1h'
  }
  withName: /BBMAP_BBDUK|BBMAP_BBSPLIT|BCFTOOLS|BEDTOOLS|KRAKEN2_ABUNDANCE_ESTIMATE|CLUSTER|CONTIG_COVSTATS|EXTRACT_CONTIGS|EXTRACT_REF_FASTA|EXTRACT_VIRAL_BLAST_HITS|EXTRACT_VIRAL_BLAST_HITS_ROUND2|FASTA2TABLE_CONTIGS|FASTA2TABLE_REF|FASTQC_RAW|FASTQC_TRIM|IDENTIFY_ERRORS|MAP_TO_CONTIGS|MAPPING_BACK_TO_REF|MOSDEPTH_CONTIGS|MOSDEPTH_REF|ORFIPY|SAMTOOLS_MPILEUP|PYFAIDX_CONTIGS|PYFAIDX_REF|REALIGN|REF_COVSTATS|SAMTOOLS2|SAMTOOLS_CONTIGS|SUMMARISE_READ_CLASSIFICATION|SUMMARISE_RESULTS|TRIM_ENDS|MEGABLAST|MEGABLAST_ROUND2|MEGABLAST_TO_REF|FASTP/ {
    cpus = 1
    memory = '8 GB'
    time = '1h'
}
  withName: /HMMSCAN|SPADES/ {
    cpus = 2
    memory = '24 GB'
    time = '1h'
  }
  withName: /DIAMOND_BLASTX|HTML_REPORT/ {
    cpus = 1
    memory = '24 GB'
    time = '1h'
  }
  withName: /KRAKEN2_KRAKEN2|KAIJU_KAIJU/ {
    cpus = 2
    memory = '12 GB'
    time = '1h'
  }
}


/*
Notes on building test kraken db
DB=/work/daff_viral_rnaseq/github/daff-viral-assembly/kraken_test_db
mkdir -p $DB
cp /work/eresearch/databases/kraken_databases/seqid2taxid.map .
cd kraken_test_db/taxonomy
cp /work/eresearch/databases/kraken_databases/core_nt/nodes.dmp .
cp /work/eresearch/databases/kraken_databases/core_nt/names.dmp .
singularity exec -B /work/daff_viral_rnaseq/github/daff-viral-assembly/ ~/.nextflow/NXF_SINGULARITY_CACHEDIR/community-cr-prod.seqera.io-docker-registry-v2-blobs-sha256-0f-0f827dcea51be6b5c32255167caa2dfb65607caecdc8b067abd6b71c267e2e82-data.img kraken2-build --add-to-library /work/daff_viral_rnaseq/github/daff-viral-assembly/Wsmv.fa --no-masking --db $DB
singularity exec -B /work/daff_viral_rnaseq/github/daff-viral-assembly/ ~/.nextflow/NXF_SINGULARITY_CACHEDIR/community-cr-prod.seqera.io-docker-registry-v2-blobs-sha256-0f-0f827dcea51be6b5c32255167caa2dfb65607caecdc8b067abd6b71c267e2e82-data.img kraken2-build --build --db $DB --threads 2


singularity exec -B /work/daff_viral_rnaseq/github/daff-viral-assembly/   ~/.nextflow/NXF_SINGULARITY_CACHEDIR/depot.galaxyproject.org-singularity-kaiju-1.10.0--h43eeafb_0.img kaiju-mkbwt -n 1 -a ACDEFGHIKLMNPQRSTVWY -o kaiju_test_db  Wsmv_prot.fa
singularity exec -B /work/daff_viral_rnaseq/github/daff-viral-assembly/   ~/.nextflow/NXF_SINGULARITY_CACHEDIR/depot.galaxyproject.org-singularity-kaiju-1.10.0--h43eeafb_0.img  kaiju-mkfmi kaiju_test_db
singularity exec -B /work/daff_viral_rnaseq/github/daff-viral-assembly/ ~/.nextflow/NXF_SINGULARITY_CACHEDIR/quay.io-biocontainers-blast-2.16.0--h66d330f_4.img makeblastdb -in /work/daff_viral_rnaseq/github/daff-viral-assembly/tests/Wsmv.fa -parse_seqids -dbtype nucl



singularity exec -B /work/daff_viral_rnaseq/  ~/.nextflow/NXF_SINGULARITY_CACHEDIR/quay.io-biocontainers-bwa-0.7.19--h577a1d6_1.img  bwa mem -t2  Wsmv_nucl.fa \
/work/daff_viral_rnaseq/nextflow/daff-viral-assembly/work/08/c9007522e97c50c85b44a99b22e179/Ta_1_1.merged_subsampled.fastq.gz \
/work/daff_viral_rnaseq/nextflow/daff-viral-assembly/work/08/c9007522e97c50c85b44a99b22e179/Ta_1_2.merged_subsampled.fastq.gz > trial.sam


*/
